:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --default-font: "Poppins", sans-serif;
  --heading-font: "Playfair Display", serif;
}

body {
  font-family: var(--default-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}
p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #272142b2;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
  font-weight: 700;
}

h2 {
  font-size: 64px;
  line-height: 1.5;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  margin: 0;
  font-size: 36px;
  color: #272142;
  line-height: 54px;
  font-weight: 700;
}

.hero h2 {
  font-size: 24px;
  color: #272142;
  font-weight: 400;
  line-height: 36px;
  font-family: var(--default-font);
}

.btn-branding {
  background: var(--branding-color);
  color: #fff;
  font-size: 18px;
  border-radius: 4px;
  padding: 12px 25px;
}

.container {
  padding: 10px;
}
.project-description {
  padding: 120px 60px;
}

.project-description p {
  font-size: 16px;
  line-height: 30px;
}
.btn-branding-outline {
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  font-size: 18px;
  border-radius: 4px;
  padding: 12px 25px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 44px;
  }
  .project-description {
    text-align: center;
    padding: 0;
  }
}
